.to-top{
	color:black;
	padding-top:1.8em;
	display:inline-block;/* or block */
	position:absolute;
	border-color:black;
	text-decoration:none;
	transition:all .3s ease-out;
   
}
.to-top:before{
	content:'▲';
	font-size:1.9em;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-.7em;
	border:solid .13em white;
	border-radius:10em;
	width:1.4em;
	height:1.4em;
	line-height:1em;
	padding-left: 0.13em;
	border-color:inherit;
	transition:transform .5s ease-in;
}
.to-top:hover{
	color:rgb(148, 69, 81);
	border-color:rgb(148, 69, 81);
}

.to-top:hover:before{
	transform: rotate(360deg);
}